body{
    margin: 0;
    padding: 0;
    background-color: rgb(213, 210, 210);
}
#header_design{
    
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    margin: 0px;
    color:black;
    display: flex;




}
h2{
    position: absolute;
    top: 30px;
    left: 1210px;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    font-size:20px;
    color: #000;
    
}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
    
}
#header_text{
    position: absolute;
    top: 30px;
    left: 650px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
    text-align: center;
    color: black;
    
}
#user_logo{
    
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    right: 30px;
    cursor: pointer;

}