body{
    margin: 0;
    padding: 0;
    background-color: rgb(213, 210, 210);
}
#header_design{
    
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    margin: 0px;
    color:black;
    display: flex;




}
h2{
    position: absolute;
    top: 30px;
    left: 1210px;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    font-size:20px;
    color: #000;
    
}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
    
}
#header_text{
    position: absolute;
    top: 30px;
    left: 650px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
    text-align: center;
    color: black;
    
}
#user_logo{
    
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    right: 30px;
    cursor: pointer;

}
#room_info{
    position: absolute;
    top: 120px;
    left: 40px;
    width: 95%;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    border: 2px solid #00ffae;
    border-color: rgb(2, 244, 171);

}
#room1_img{
    margin-top: 10px;
    margin-left:20px;
    height: 280px;
    width: 450px;
    border-radius: 6px;
    object-fit: cover;
}
h3{
    position: absolute;
    top: 10px;
    left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0px;
    color: black;

}
#r1{
    position: absolute;
    top: 60px;
    left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0px;
    color: black;

}
#p1{
    position: absolute;
    top: 100px;
    left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0px;
    color: black;
}
#r1_info{
      position: absolute;
    top: 140px;
    left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0px;
    color: black;


}