body{
    margin: 0;
    padding: 0;
    background-color: rgb(213, 210, 210);
}
#header_design{
    
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    margin: 0px;
    color:black;
    display: flex;




}
h2{
    position: absolute;
    top: 30px;
    left: 1210px;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    font-size:20px;
    color: #000;
    
}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
    
}
#header_text{
    position: absolute;
    top: 30px;
    left: 650px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
    text-align: center;
    color: black;
    
}
#user_logo{
    
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    right: 30px;
    border-radius: 80px;
    cursor: pointer;

}
#sidebar{


background-color: #fff;
position: absolute;
top: 100px;
left: 20px;
width: 250px;
height: 300px;
color: rgb(8, 242, 125);
font-family: 'Times New Roman', Times, serif;
border-radius: 10px;
font-size: 14px;
display: flex;
text-align: center;
cursor: pointer;



}

#overview{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(8, 242, 125);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #94919170;
    cursor: pointer;
    box-shadow: #5f5f61e1 0px 4px 8px 0px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
#complaints{
     position: absolute;
     top: 61px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(8, 242, 125);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #94919170;
    cursor: pointer;
    box-shadow: #5f5f61e1 0px 4px 8px 0px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    box-sizing: border-box;

}
#notices{
    position: absolute;
     top: 122px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(8, 242, 125);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #94919170;
    cursor: pointer;
    box-shadow: #5f5f61e1 0px 4px 8px 0px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    box-sizing: border-box;

}
#notification{
    position: absolute;
    top: 183px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(8, 242, 125);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #94919170;
    cursor: pointer;
    box-shadow: #5f5f61e1 0px 4px 8px 0px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;

}
  #booknewroom {
    position: absolute;
    top: 244px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(8, 242, 125);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #94919170;
    cursor: pointer;
    box-shadow: #5f5f61e1 0px 4px 8px 0px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

#overview:hover, #complaints:hover, #notices:hover, 
#notification:hover, #booknewroom:hover {
    background-color: rgb(8, 242, 125); 
    color: white; 
    box-shadow: #5f5f61e1 0px 6px 12px 0px; 
    transform: scale(1.02); 
}
