body{
    background-color: #d6d6d6;
    margin: 0px;
    padding: 0px;



}

#header_design{
    
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    margin: 0px;
    color:black;
    display: flex;




}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
    
}
#header_text{
    position: absolute;
    top: 30px;
    left: 650px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
    text-align: center;
    color: black;
    
}
h1{
    position: absolute;
    top: 30px;
    left: 650px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 25px;
    text-align: center;
    color: black;

}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
    
}
.editform{
    position: absolute;
    top: 30px;
}