body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e0dfdfce;
}

.login-box {
    width: 350px;
    position: absolute;
    top: 100px;
    left: 550px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px;
    background: rgba(255, 255, 255, 0.627); 
    border-radius: 10px;
}

#login_form {
    margin-top: 10px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}


#name, #new_password, #confirm_password {
    width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: dimgray;
    font-family: 'Times New Roman', Times, serif;
}


#login_button {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; 
    margin-top: 20px;
    margin-left: 95px; 
    background-color: #012957d5;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 160px; 
    height: 40px;
    border: none;
}



#register_link {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #012957d5;
    text-decoration: none;
}

#home_logo {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.error {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.success {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}