body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);

}
#header_div{
    height:80px;
    width: 100%;
    background-color:#ffffffe1;
    margin: 0 auto;
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
#header_image{
    position: relative;
    height: 330px;
    width: 100%;
    object-fit: cover;
    background-color: rgb(4, 1, 53);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -2;
}

#header_image_div{
    width: 100%;
    height: 330px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(2, 35, 47, 0.569);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -1;
}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
}
#header_image_h1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 80px;
    left: 40%;
   
}
p{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 140px;
    left: 37%;
    font-size: 14px;
}


footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 1000px;
    padding: 10px 0;
    background-color: #030211e1;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
#register{
    position: absolute;
    left: 560px;
    top: 220px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.044);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: inset 0 0 5px  rgb(219, 219, 219);
}
#login{
    position: absolute;
    left: 710px;
    top: 220px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.044);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: inset 0 0 5px rgb(219, 219, 219);
}
#Alogin{
    position: absolute;
    left: 810px;
    top: 220px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.044);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    box-shadow: inset 0 0 5px rgb(219, 219, 219);
}
h2{
    position: relative;
    top: 10px;
    text-align: center;
    color: rgb(62, 61, 61);
    font-family: 'Times New Roman', Times, serif;
}

#room_box{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 330px;
    height: 400px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:480px;
    left: 10px;
    box-shadow: #030211e1 0px 4px 8px 0px;

}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}



#room_box1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 400px;
    width: 330px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:480px;
    left: 390px;
    box-shadow: #030211e1 0px 4px 8px 0px;

}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info1{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}


#room_box2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 400px;
    width: 330px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:480px;
    left: 770px;
    box-shadow: #030211e1 0px 4px 8px 0px;

}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info2{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}


#room_box3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 400px;
    width: 330px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:480px;
    left: 1150px;
    box-shadow: #030211e1 0px 4px 8px 0px;
}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info3{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}
#room_box4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 330px;
    height: 400px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:980px;
    left: 10px;
    box-shadow: #030211e1 0px 4px 8px 0px;

}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info4{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

#room_box5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 400px;
    width: 330px;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    top:980px;
    left: 390px;
    box-shadow: #030211e1 0px 4px 8px 0px;

}

#room_image{
    height: 180px;
    width: 320px;
    border-radius: 6px;
    object-fit: cover;
}


.room_info5{
    position:relative;
    left: 10px;
    top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:15px;
  font-weight: bold;


}
.room_no{
    position: relative;
    top: 3px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.price{
    position: relative;
    top: 7px;
    left: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    
}
.book_btn{
    position: relative;
    top: 15px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgb(4, 1, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}







