body {
    margin: 0;
    padding: 0;
    background-color: rgba(212, 210, 210, 0.971);
}
#header_div{
    height:80px;
    width: 100%;
    background-color:#ffffffe1;
    margin: 0 auto;
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
