body {
    margin: 0;
    padding: 0;
    background-color: rgba(212, 210, 210, 0.971);

}
#header_div{
    height:80px;
    width: 100%;
    background-color:#ffffffe1;
    margin: 0 auto;
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
#header_image{
    position: relative;
    height: 250px;
    width: 100%;
    object-fit: cover;
    background-color: rgb(4, 1, 53);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -2;
}

#header_image_div{
    width: 100%;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(2, 35, 47, 0.569);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: -1;
}
#header_logo{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 10px;
    left: 30px;
    
}
#header_image_h1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 80px;
    left: 40%;
   
}
p{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    top: 140px;
    left: 37%;
    font-size: 14px;
}


footer{

    margin-top: 500px;
    padding: 10px 0;
    background-color: #030211e1;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

