/* Main Layout  */
#student-management-box {
    position: absolute;
    top: 90px;
    left: 285px;
    width: 1220px;
    font-family: 'Times New Roman', serif;
}

.form-section-container {
    background-color: #f5f5f5;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

.form-section-container h3 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #000055;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

/* Input Fields */
.field {
    margin-bottom: 15px;
}

.field label {
    display: inline-block;
    width: 160px;
    font-weight: bold;
}

.field input {
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
    border: 1px solid #ced4da;
    color: #666;
}

/* Top Form Buttons */
.action-btn {
    min-width: 120px;
    padding: 8px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid #d3d3d3;
    margin-right: 15px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.action-btn:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); 
   
    z-index: 5;
}
.update-btn {
     background-color: #000055;
     }
.delete-btn {
     background-color: #ab1010;
     }
#cancel-btn { 
    background-color: #f59b2d;
}

/* Table */
.table-white-box {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

#info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#info-table th {
    background-color: #7a8187;
    color: white;
    padding: 12px;
    border: 1px solid #ddd;
}

#info-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    color: #333;
}


.btn-edit {
    display: block;    
    width: 100px;
    margin: 0 auto 8px auto;
    background-color: #007bff;
    color: white;
    padding: 6px 0;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-delete {
    display: block;
    width: 100px;
    margin: 0 auto;
    background-color: #dc3545;
    color: white;
    padding: 6px 0;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


.btn-edit:hover, .btn-delete:hover {
    border-color: #ffffff;
    transform: scale(1.08);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.error-box {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 15px;
    border-left: 5px solid red;
}
#update-btn, #delete-btn { display: none; }