#student-management-box {
    position: absolute;
    top: 90px;
    left: 285px;
    width: 1220px;
    font-family: 'Times New Roman', serif;
}

.form-section-container {
    background-color: #f5f5f5;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.field {
    margin-bottom: 12px;
}

.field label {
    display: inline-block;
    width: 160px;
    font-weight: bold;
}

.field input, 
.field textarea {
    width: 280px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.action-btn {
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    min-width: 120px;
    border: 2px solid #d3d3d3;
    transition: all 0.3s ease;
    color: white;
}


.action-btn:hover, 
.btn-edit:hover, 
.btn-delete:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-color: #ffffff;
}

.add-btn {
    background-color: #28a745;
    margin-right: 15px;
}

.update-btn {
    background-color: #000055;
    margin-right: 15px;
}

.delete-btn {
    background-color: #ab1010;
    margin-right: 15px;
}

#cancel-btn {
    background-color: #f0ad4e;
}


.btn-edit {
    background-color: #007bff;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    margin-right: 5px;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Table */
#info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}

#info-table th, 
#info-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#info-table thead {
    background-color: #7a8187;
    color: white;
}

#info-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.error-box {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid red;
}

.table-white-box {
    background-color: #ffffff;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    margin-top: 25px; 
}


.table-section-container {
    overflow-x: auto;
}


.table-white-box h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-size: 20px;
}