/* Main Layout */
#student-management-box { 
    position: absolute; 
    top: 90px; 
    left: 285px; 
    width: 1220px; 
    font-family: 'Times New Roman', serif; 
}

.form-section-container { 
    background-color: #f5f5f5; 
    padding: 20px 30px; 
    border: 1px solid #ddd; 
    border-radius: 12px; 
    margin-bottom: 20px; 
}

/* Input Fields */
.field { 
    margin-bottom: 12px;

}
.field label {
     display: inline-block;
      width: 160px;
       font-weight: bold;
     }
.field input {
     width: 280px; 
     padding: 6px;
      border: 1px solid #ccc; 
      border-radius: 4px; }

.table-white-box {
    background-color: #ffffff; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05); 
    margin-top: 20px; 
    width: 97%; 
}

/*table jate box er bire na ja*/
.table-section-container {
    overflow-x: auto;
}

#info-table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
}
/* Main Buttons (Add, Update, Delete, Cancel) */
.action-btn { 
    min-width: 120px; 
    padding: 8px 18px; 
    color: white; 
    border-radius: 6px; 
    cursor: pointer; 
    font-weight: bold; 
    transition: all 0.3s ease; 
    border: 2px solid #d3d3d3; 
}


.action-btn:hover { 
    transform: translateY(-2px) scale(1.02); 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15); 
    border-color: #ffffff;
}

.add-btn { 
    background-color: #28a745; 
    margin-right: 25px;
}

.update-btn { 
    background-color: #000055;
     margin-right: 25px;
     }
.delete-btn { 
    background-color: #ab1010;
     margin-right: 25px;
     }
#cancel-btn { 
    background-color: #e7a453;
 }

/* Table Action Buttons (Edit, Delete) */
.btn-edit { 
    background-color: #007bff; 
    color: white; 
    border: 1px solid #d3d3d3; 
    padding: 5px 12px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: 0.3s;
}

.btn-delete { 
    background-color: #dc3545; 
    color: white; 
    border: 1px solid #d3d3d3; 
    padding: 5px 12px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: 0.3s;
}

.btn-edit:hover, .btn-delete:hover { 
    border-color: white;
    transform: translateY(-1px); /* Table button o halka pop up hobe */
}

/* Table Design */
#info-table { 
    width: 100%; 
    border-collapse: collapse;
     margin-top: 10px; 
     background: white;
     }
#info-table th, #info-table td {
     border: 1px solid #ddd;
      padding: 10px; 
      text-align: center;
     }
#info-table thead { 
    background-color: #7a8187;
     color: white;
     }
#info-table tbody tr:hover {
     background-color: #f9f9f9;
     }

/* Error Message */
.error-box { 
    color: #721c24; 
    background-color: #f8d7da; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-left: 5px solid red; 
}
#info-table tbody tr {
    cursor: pointer;
}